@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
   background-color: transparent;
   font-family: 'Nunito', sans-serif;
   background-color: black;
}

#background-pic{
    position: fixed;
    z-index: -1;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-object-fit: cover;
    object-fit: cover;
    -webkit-object-position: center;
    object-position: center;
    filter: blur(4px);
}

.loading-icon{
    position: absolute;
    display: none;
    width: 100px;
    height: 100px;
    z-index: 1;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.body-container{
    background-color: transparent;
}

form{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    gap: 10px;
    height: 60px;
}

input#search{
    width: 40%;
    border: 1px solid white;
    color: white;
    height: 62%;
    font-size: 18px;
    text-align: center;
    border-radius: 18px;
    background-color: transparent;
}
#submit-btn{
    background-image: url('/dist/img/magnify.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
}

input#search::placeholder{color: white;}

#unit-change{
    padding: 7px 11px;
    font-size: 18px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 18px;

}


.info-container{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0px auto;
    color: white;
    font-size: 1.3em;
    margin-top: 2% ;
}

.toggle{
    display: flex;
}

#location{
    font-size: 3em;
}

.temp-container{
    display: flex;
    font-size: 60px;
    gap: 5px;
    
}

#temp-icon{
    height: 55px;
    position: relative;
    top: 20px;
}

.condition-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.wind-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.today-forecast, .week-forecast{
    display: flex;
    justify-content: center;
    gap: 25px;
    width: min(100%, 1150px);
    margin: 25px 0px;
    flex-wrap: wrap;
}

.week-forecast{    
    border-top: 1px solid white;
    padding-top: 50px;
    max-width: 1000px;
}

.hour-forecast, .day-forecast-container{
    width: max(130px, 16%);
    text-align: center;
    font-size: 1.5em;
}

.temp-hour-container, .temp-low-day-container, .temp-high-day-container{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.temp-hour-container img, #circle-degree{
    width: 15px;
    height: 15px;
}

.day-forecast-container{
    width: max(233px, 25%);
}

.temp-day-container{
    display: flex;
    gap: 15px;
    justify-content: center;
}

.temp-low-day-container, .temp-high-day-container{
    align-items: center;
    width: fit-content;
}

.temp-low-day-container img, .temp-high-day-container img{
    width: 25px;
    height: 25px;
}

#circle-degree{
    position: relative;
    bottom: 10px;
}


@media only screen and (max-width: 960px) {

    *{font-size: 0.94em;}
    img{height: 50px;}
    form{
        width: 90%; margin: 0px auto;
    }
    input#search{
        font-size: 14px; width: 65%;
    }
    #unit-change{
        font-size: 14px;
        width: 20%;
        padding: 7px 5px;
    }
    #location{font-size: 2.50em; text-align: center;}
    #current-time{font-size: 1.50em;}
    #temp-icon{
        top: 10px;
        right: 5px;
        height: 40px;
    }
    #condition, .wind-container{font-size: 1.5em;}
    .wind-container img{height: 33px;}
    .today-forecast, .week-forecast{
        flex-direction: column;
        margin:  25px 0px 0px 0px;
        gap: 18px;
    }
    .hour-forecast, .day-forecast-container{
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .time-forecast, .day-forecast{text-align: left;}
    .week-forecast{padding: 27px 0px;}
    .day-forecast-container{margin-bottom: 15px;}
    .temp-hour-container{width: fit-content;}
    .hour-condition-icon{margin: 0px 7px 0px auto;}
    .temp-day-container{flex-direction: column-reverse;}


}